
body
{	
	background-attachment: absolute;

	background-size: 100% 100%;
	color: black;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
	background:linear-gradient(to bottom, #A9AEBC , #FFFFFF);
}

footer
{
	background:linear-gradient(to bottom, #363636 ,#181812);	color: #eff0f0;
	padding: 0em;
}	
footer h2
{
	text-align: center;
}
footer strong
{
	color: #eff0f0;
}
footer p
{
	color: #848585;
}
footer .design
{
	width:100%;
	background-color: white;
	font-family: 'Text Me One', sans-serif;
	color: black;
	text-align: center;
}
.design strong
{
	color: black;
}
.design a 
{
	text-decoration: none;
}

nav
{
	text-align: center;
}
nav ul
{
	list-style: none;
}
nav ul li
{
	background-color: white;
	box-shadow: 5px 1px 21px 3px rgba(50, 50, 50, 0.5);
	display: inline-block;
	margin: 0.7em 0.6em 0.8em 0em;
	overflow: hidden;	
	text-align: center;
	vertical-align: top;
	width: 42%;
}
nav ul li a
{
	color: #1F9FE4;
	cursor: pointer;
	display: block;
	font-family: 'Inconsolata', sans-serif;
	font-size: 1.1em;
	text-align: center;
	text-decoration: none;
	padding: 0.3em;
}
nav ul li:hover
{
	background-color: rgba(150, 150, 150,0.1);
}
.box
{
	width: 100%;
	max-width: 100%;
	background:linear-gradient(to bottom, #F8F8F8 ,#C7C7C7);
		overflow: hidden;
}
.line1
{
	text-align: center;
}
.logo
{
	text-align: center;
	/*width: 100%;
	max-width: 100%;*/
	overflow: hidden;
}
.logo a img
{
	width: 50%;
}
.title
{
	text-align: center;
	/*max-width: 100%;
	width: 100%;*/
	margin-top: 0.4em;
}
.title h1
{
	font-size: 1.65em;
	font-family: 'Audiowide', cursive;
	color: #0FB6F4;
	margin: 0;
}
.title h2
{	
	font-size: 1em;
	font-family: 'Kite One', sans-serif;
	color: #535353;
}
.social
{
	/*width: 100%;
	max-width: 100%;*/
	display: inline-block;
	overflow: hidden;
	text-align: center;
	margin-top: 1em;
}
.social a img
{
	width: 40px;
	margin: 0 0.2em 0 0.2em;
}
.line2
{
	max-width: 100%;
	width: 100%;
	display: inline-block;
}

.selected
{
	background-color: rgba(150, 150, 150,0.1);
}
.contenido
{
	width: 100%;
	max-width: 100%;	
}
.banner
{
	margin: 0.3em 0.7em 3em 0.7em;

}
.img
{
	width: 100%;
	text-align: center;


}
.img figure
{
	width:65%;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	padding: .4em;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
	box-shadow:  4px 4px 13px 0px rgba(50, 50, 50, 0.75);
	margin-top: 1em;
}
.img figure a img
{
	width: 100%;
}
.tittleG
{
	width: 100%;
	text-align: center;
	margin-top: 5em;
}
h3
{
	font-family: 'Audiowide', cursive;
	text-shadow: 2px 0px 5px rgba(150, 150, 150, 1);
}

2096358995
